<div class="center jumbotron">
	<h1 class="center">About</h1>
	<h2>This is the About Page for 
		<a href="https://github.com/jakegliddon91/naomisanchezmodelling/tree/master"> Naomi Sanchez Modelling</a> 
	</h2>
	<p class="center">Coming soon!</p>
</div>