<% provide(:title, "Contact") %>
<div class="center jumbotron">
	<h1 class="center">Contact</h1>
	<h2>This is the Contact Page for Naomi Sanchez Modelling
	</h2>
	<p class="center">Coming soon!</p>
</div>
