<footer class="footer">
	<small>
		Naomi Sanchez Modelling&copy; by <a href="http://www.thefadco.co.uk">The Fanatical About Design Co</a> powered by 
		<%= link_to image_tag("rails.png", id: "rails", alt: "rails logo"), 'http://rubyonrails.org/' %>
	</small>
	<nav>
		<ul>
            <li><%= link_to image_tag("instagram.png", id: "insta", alt: "Naomi Sanchez Modelling instagram page"), 'https://www.instagram.com/naomisanchezmodeling/' %></li>
		</ul>
	</nav>
</footer>